name: Test Package
on:
  push:
    branches:
      - 'main'
  pull_request:
      branches:
      - 'main'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: install requirements
        run: pip install -r requirements.txt

      - name: install Pytest
        run: pip install -r requirements.test.txt

      - name: lint
        run: ruff check .

      - name: test
        run: pytest
